<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>

        </header>

        <main>
            <section>
                <form class="form">
                    <input id="text" type="text" name="input" value="" placeholder="Enter text">
                    <input type="submit" value="submit">
                    <p id="errorMessage"></p>
                </form>
            </section>

            <section>
                <strong>Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>

            <script>
                // Check that service workers are supported
                if ('serviceWorker' in navigator) {
                    // Use the window load event to keep the page load performant
                    window.addEventListener('load', () => {
                        navigator.serviceWorker.register('/service-worker.js');
                    });
                }
            </script>
        </footer>

    </body>
</html>
